.card{
    display: flex;
    flex-direction: column;
    /* border: 4px solid slateblue; */
}

#reset {
    font-family: "Josefin Sans", monospace;
    border: none;
    font-size: large;
    padding: 1%;
    margin: 1% 5%;
    background-color: rgba(119, 248, 119, 0.864);
    border-radius: 4px;
    cursor: pointer;
}